{% load static %}
<nav >
    <ul class="navbody">
        <div>
            {% if request.get_full_path in 'https://frozen-fjord-09422.herokuapp.com/' %}
        
            {% else %}
                <li class="barindexbutton"><a href="{% url 'home' %}"><button class="barbutton">Inicio</button></a></button></li>
            {% endif %}
        </div>
        <div>
            <li class="barindex"><a href="https://github.com/Kaique425" target="_blank" ><img src="{% static 'paginas/images/git.png' %}" alt=""></a></li>
            <li class="barindex"><a href="https://www.instagram.com/kaique_motah/" target="_blank"><img src="{% static 'paginas/images/insta.png' %}" alt=""></a></li>
            <li class="barindex"><a href="https://www.linkedin.com/in/kaique-mota-296007203/" target="_blank"><img src="{% static 'paginas/images/lin.png' %}" alt=""></a></li>  
        </div>
        
    </ul>
</nav>  

