{% extends 'paginas/main.html' %}
{% load static %}

{% block content %}
    <main class="projectdetailbody">
        <section>
            <div class="maincontainer">
                <div class="nameitem">
                {% if projetos.projlink == null%}
                     <p><a class="nameitemhref" href="#">Clique aqui para ir até {{projetos.nome}}</a></p>
                {% else %}
                    <p><a class="nameitemhref" href="{{projetos.projlink}}">Clique aqui para ir até {{projetos.nome}}</a></p>
                    </div>
                {% endif %}
                <div class="imageitem">
                    <img style="width: 80vw;" src="{{projetos.thumbnailDetail.url}}" alt=""></a>
                </div>
                <div class="descriptionitem">
                    <p>{{projetos.descricao}}</p>
                </div> 
            </div>
        </section>
    </main>   
{% endblock %}