@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
}
.h1title{
    margin: 5px;
}
.profilephoto{
    width: 200px;
    border-radius: 5px;
    margin: 8px;

}
/* BARRA DE NAVAGAÃ‡ÃƒO*/
.navbody {
    margin: 0;
    display: grid;
    height: 40px;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    padding: 10px 10%;
    background-color: rgb(0, 0, 0);
    align-items: center;
}
.barindexbutton {
    margin-right: 20px;
    display: inline-block;
    color: rgb(255, 255, 255);
}
.barindex {
    align-content:end;
    margin: 0px 5px;
    display: inline-block;
    color: rgb(255, 255, 255);
}
.barbutton {
    color: rgb(0, 0, 0);
    padding: 9px 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
}
.barbutton:hover {
    background-color: #b3b3b3;
}
/* BARRA DE NAVAGAÃ‡ÃƒO*/

/* DIV APRESENTAÃ‡ÃƒO */
.divprojcontainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    height: 33vh;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.divperfiel{
    justify-self: center;
    width: 80vw;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.divperfnome{
    text-align: center;
    grid-area: "divnome";
    background-color: #ffffff; 
    box-shadow: 5px 5px 15px black; 
    height: auto; 
}

.divperfresumo{
    grid-area: "divresumo";
    background-color: #ffffff;
    box-shadow: 5px 5px 15px black;
    height: auto;
    font-size: 20px;
}
.resumotext{
    font-size: 25px;
}
/* DIV APRESENTAÃ‡ÃƒO */
.divprojetostitle{
    font-size: 30px;
}

/* Projetos */
.projetoscontainer {
    justify-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #F4F4F4;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.projetobox {
    display: grid;
    width: min-content;
    box-shadow: 5px 5px 15px black;
    margin: 10px;
}
.protitle {
    text-decoration: none;
    text-align:center;
    margin: auto;
    margin-bottom: 5px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.protitle:hover {
    color: rgb(179, 179, 179);
}
.grid-1{
    grid-area: 'grid-1';
    color: white;
}
.grid-2{
    grid-area: 'grid-2';
}
.grid-3{    
    grid-area: 'grid-3';
    display: flex;
    grid-auto-rows: min-content;
    align-items: flex-start

}
.grid-3tecname {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: gray ;
    background-color: gray  ;
    color: white;
    justify-content: center;

}
.grid-4{
    margin-left: 10px;
    text-overflow: clip;
    grid-area: 'grid-4';
    height: min-content;
}
/* Projetos */

/*Project Detail Page*/
.projectdetailbody {
    margin: 10px;
    width: auto;
}
.maincontainer{
    display: flex;
    margin: auto;
    background-color: white;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
}

.buttonancora{
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    background-color: white;
    color: black;
}
.nameitemhref {
    color: white;
    text-decoration: none;
}
.nameitem {
    width: 80vw;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 15px black;
    grid-area: nameitem;
    text-align: center;
    font-size: 50px;
}
.nameitemnohref {
    width: 80vw;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 15px black;
    grid-area: nameitem;
    text-align: center;
    font-size: 50px;
}
.nameitem:hover {
    background-image: rgb(255, 255, 255);
    opacity: 0.7;
}
.imageitem {
    box-shadow: 5px 5px 15px black;
    width: 80vw;
}
.tecnameitem {
    box-shadow: 5px 5px 15px black;
}
.descriptionitem {
    width: 80vw;
    box-shadow: 5px 5px 15px black;  
    font-size: 20px;

}
/*Project Detail Page*/